// you can change colors here
// $vp-font: '"Noto Serif SC", serif';

// // 设置正文优先字体
// $vp-font: '"Inter", "Roboto", "Open Sans", ui-sans-serif, system-ui, sans-serif' !default;

// // 标题标题（如果你想用其他更醒目的字体）
// $vp-font-heading: '"Montserrat", "Inter", "Roboto", ui-sans-serif, system-ui' !default;

// // 代码字体
// $vp-font-mono: 'ui-monospace, "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace' !default;

$sidebar-width: 20rem;
$sidebar-mobile-width: 16rem;
$vp-font: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
$vp-font-heading: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
